body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding: 16px;
}

.content {
  flex: auto;
  display: flex;
}

.cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 32px;
}

.footer {
  background: #eee;
  color: darkmagenta;
  padding: 16px;
  text-align: center;
}

.sidebar {
  flex: none;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  padding: 16px;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}